<p class="bg-info">
  Find me in app/views/parks/show.html.erb
</p>

<h3>
  Information for <%= @park.name %>
</h3>

<p>
  <!-- Want this city name to be a link back to the city -->
  <strong>City:</strong> <%= link_to @city.name, city_parks_path(@city) %><br>
  <strong>Description:</strong> <%= @park.description %>
</p>

<p>
  <!-- Want this to be a link to edit the park information -->
  <%= link_to 'Edit Park Information', edit_city_park_path(@city, @park)  %></span>
</p>

<h4>
  Reviews for <%= @park.name %>
</h4>

<p>
  <!-- Want this to be a link to the create a new review page -->
  <!-- remote: true tells Rails that upon clicking this link (or in the case of a form, submitting the form), you are making an xhr request -->
  <%= link_to 'Create a new review', new_city_park_review_path(@city, @park), class: 'new_review_link', remote: true %>

  <div id="form-container">
  </div>
</p>

<p>
  <% @park.reviews.each do |review| %>
    <p>
      <strong>Title:</strong> <%= review.title %><br>
      <strong>Body:</strong> <%= review.body %><br>
      <!-- Want this to be a link to edit the review -->
      <span class='small text-danger'>Edit Review</span><br>
      <!-- Want this to be a link to delete the review -->
      <span class='small text-danger'>Delete Review</span>
    </p>
  <% end %>
</p>
